{% extends "layout.html" %}

{% block body %}

<h1>Hello this is the home page</h1>

{% for product in products %}
<a class="linkpiority" href="{{ url_for('product', product_id=product['product_id']) }}">
    <div class="w3-card-4">
        <h2>{{ product['name'] }}</h2>

        <img class="planeplane"
             src="{{ product['image'] }}"
             alt="Image of {{ product['name'] }}"
             style="width:100%">

        <h3>{{ product['description'] }}</h3>
    </div>
</a>
{% endfor %}

{% endblock %}