<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Layout</title>
</head>
<body class="w3-container">
    <!--Shared header bar-->
    <div class="header">
    <h1 class="headerlogo"><a href="/" class="headerlogo">Tōī Market</a></h1>

    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li class="meh"><a href="/notifications">Notifications</a></li>
        <li class="meh"><a href="/meeting">Map</a></li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">User</a>
            <div class="dropdown-content">
                <a href="/login">login</a>
                <a href="/signup">sign-up</a>
                <a href="/userprofile">view profile</a>
            </div>
        </li>
    </ul>
</div>

    
{% block body %}

{% endblock %}
    
</body>
</html>