<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Tōī Market | {% block title %}{% endblock %}</title>
</head>

<body class="w3-container">

<div class="header">
    <h1 class="headerlogo">
        <a href="{{ url_for('home') }}">Tōī Market</a>
    </h1>

    <ul>
        <li><a href="{{ url_for('home') }}" class="active">Home</a></li>

        <!-- TEMP: using id=1 -->
        <li><a href="{{ url_for('about_us', user_id=1) }} " class="active1" >About Us</a></li>
        <li class="dropdown">
            <a href="#">Account</a>
            <div class="dropdown-content">
                <a href="{{ url_for('login', user_id=1) }}" class="active4">Login</a>
                <a href="{{ url_for('signup') }}" class="active5">Sign Up</a>

            </div>
        </li>
    </ul>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="w3-panel w3-green">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block body %}{% endblock %}

</body>
</html>