{% extends "layout.html" %}
{% block body %}
    <a href="{{ url_for('home') }}" class="backhome">Back to Home</a>
    {% if msg %}
        <p class="">{{ msg }}</p>
    {% endif %}
    <!-- A form to login with -->
<form action="/login" method="post">
    <h4 class="test-login">Login</h4>
    <label for="email">Email</label>
    <input class="textbox" type="text" name="email" placeholder="Enter Email" required>

    <label for="password">Password</label>
    <input class="textbox" type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>


    
{% endblock %}