{% extends "layout.html" %}
{% block body %}
    <!-- product viewing page-->
<a href="{{ url_for('home') }}" class="backhome">Back to Home</a>
<div class="two-column">
    <!-- left columnn -->
    <div class="productimagesection">
        <img class="productmainimage" src="{{ product['image_url'] }}" alt="Image of {{ product['product_name'] }}">
    </div>
    <!--right columnn -->
    <div class="productinfosection">
        <h1 class="producttitle">{{ product['product_name'] }}</h1>
        <p class="productseller" >Sold by:{{ product['seller_username'] }}</p>
        <h2 class="productprice">${{ product['price_suggested'] }}</h2>
        <div class="productstatus">
            <strong>Status:</strong>
            {% if product['status'] == 'available' %}
                <span class="statusavailable">{{ product['status'] }}</span>
            {% else %}
                <span>{{ product['status'] }}</span>
            {% endif %}
        </div>
        <div class="productdescription">
            <h3>Description</h3>
            <p>{{ product['description'] }}</p>
        </div>
        <h3>Likes: {{product['likes']}}</h3>
        <div class="offersection">
            <h3>Interested in buying?</h3>
            <p>Log-in or sign-up to send an offer to the seller. The seller can choose the offer they like best. </p>
        </div> <br>
        <div class="productdate">
            <p><strong>Posted:</strong> {{ product['date_posted'] }}</p>
        </div>
        <div class="producthazards">
            <h3>Health & Safety</h3>
            {% if product['health_hazards'] %}
                <p>{{ product['health_hazards'] }}</p>
            {% else %}
                <p>No known health hazards.</p>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}