{% extends "layout_signed_in.html" %}
{% block body %}
<a href="{{ url_for('home_signed_in') }}" class="backhome">Back to Home</a>
<div class="two-column">
    <!-- left columnn -->
    <div class="productimagesection">
        <img class="productmainimage" src="{{ product['image_url'] }}" alt="Image of {{ product['product_name'] }}">
    </div>
    <!--right columnn -->
    <div class="productinfosection">
        <h1 class="producttitle">{{ product['product_name'] }}</h1>
        <p class="productseller" >Sold by:<a href="{{ url_for('seller_profile_signed_in', user_id=product['seller_key']) }} " class="active1" >{{ product['seller_username'] }}</a></p> 
        <h2 class="productprice">${{ product['price_suggested'] }}</h2>
        <div class="productstatus">
            <strong>Status:</strong>
            {% if product['status'] == 'available' %}
                <span class="statusavailable">{{ product['status'] }}</span>
            {% else %}
                <span>{{ product['status'] }}</span>
            {% endif %}
        </div>
        <div class="productdescription">
            <h3>Description</h3>
            <p>{{ product['description'] }}</p>
        </div>
        <h3>Likes: {{product['likes']}}</h3>
        <form action="{{url_for('like_product', product_id=product['product_id'])}}" method="POST">
        <!--some conditions to like/unlike only signed in tho-->
            {% if liked %}
                <button type="submit">
                    Unlike
                </button>
            {% else %}
                <button type="submit">
                    Like
                </button>
            {% endif %}
        </form>
        <div class="offersection">
            <h3>Interested in buying?</h3>
            <p>Send an offer to the seller. The seller can choose the offer they like best. </p>
            <form action="#" method="POST">
                <div class="offerinput">
                    <span>$</span><input type="number" id="offer" name="offer" min="0" step="0.01" placeholder="Enter your offer" required>
                </div>
                <button type="submit" class="offerbutton">Send Offer</button>
            </form>
        </div>
    </div>
    <div class="productdate">
            <p><strong>Posted:</strong> {{ product['date_posted'] }}</p>
    </div>
    <div class="producthazards">
            <h3>Health & Safety</h3>
            {% if product['health_hazards'] %}
                <p>{{ product['health_hazards'] }}</p>
            {% else %}
                <p>No known health hazards.</p>
            {% endif %}
    </div>
</div>
    
{% endblock %}