{% extends "layout_signed_in.html" %}

{% block body %}

<a href="{{ url_for('notifications_signed_in', user_id=session['user_id']) }}" class="backhome">
    Back to Notifications
</a>
<div class="requests-page">
    <h1>Incoming Offers</h1>
    {% for offer in offers %}
        <div class="buy-request">
            <div class="request-product">
                <!--<img src="{{ request['image_url'] }}" alt="{{ request['product_name'] }}">-->
                <div>
                    <h2>{{ offer['product_name'] }}</h2>
                    <p>Requested by: {{ offer['buyer_username'] }}</p>
                    <p>Offer: ${{ offer['offer_price'] }}</p>
                    <p>Date: {{ offer['date_sent'] }}</p>
                    {% if offer['message'] %}
                        <p> Message: {{ offer['message'] }}</p>
                    {% endif %}
                    <p>Status: {{ offer['status'] }}</p>
                </div>
            </div>
            {% if offer['status'] == 'pending' %}
                <form action="{{ url_for('approve_request', offer_id=offer['offer_id']) }}" method="POST" class="approve-form">
                    <h3>Approve this offer</h3>
                    <label>Message to buyer:</label>
                    <textarea class="request-message" name="seller_message" placeholder="Message for the buyer..." required></textarea>
                    <label for="meeting_location">
                        Meeting location:
                    </label>
                    <select class="select-for-request" name="meeting_location" required>
                        <option value="">Select a location</option>
                        {% for location in locations %}
                            <option value="{{ location['location_id'] }}">{{ location['location_name'] }}
                            </option>
                        {% endfor %}
                    </select>          
                    <label>Meet-up date and time:</label>
                    <input class="select-for-request" type="datetime-local" name="meetup_time" required>
                    <button type="submit" class="approve-button">Approve Offer
                    </button>
                </form>
            {% elif offer['status'] == 'approved' %}
                <p class="approved">This offer has been approved.</p>
            {% endif %}
        </div>
    {% else %}
        <p>You have no incoming offers.</p>
    {% endfor %}
</div>
{% endblock %}