{% extends "layout.html" %}
{% block body %}
    <!-- sign-up page-->
    <h1 class="test">Hello this is the sign-up page</h1>

    <!-- A form to login with -->
<!-- the ACTION is the route we try to post to! -->
<form action="/signup" method="post">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit">Signup</button>
</form>


    
{% endblock %}