{% extends "layout.html" %}
{% block body %}
    <!-- sign-up page-->
    <h1 class="test">Hello this is the sign-up page</h1>
    <!--little popups to tell u how ur signup is going--> 
    {% if msg %}
        <p class="">{{ msg }}</p>
    {% endif %}
    <!-- A form to login with -->
<!-- the ACTION is the route we try to post to! -->
<form action="/signup" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter Email" required>

    <label for="username">Username</label>
    <input class="textbox" type="text" name="username" placeholder="Enter Username" required>   

    <label for="password">Password</label>
    <input class="textbox" type="password" name="password" placeholder="Enter Password" required>

    <button type="submit">Signup</button>
    

</form>


    
{% endblock %}