{% extends "layout_signed_in.html" %}
{% block body %}
    <!-- user profile editing page-->
<a href="{{ url_for('home_signed_in') }}" class="backhome">Back to Home</a>
<div class="userprofilesignedin">
    <h1 class="username_show">{{ user['username'] }}</h1>
    <h3 class="email_show">{{ user['email'] }}</h3>
        <div class="userdescription">
            <h5>Description</h5>
            {% if user['description'] %}
                <span>{{ user['description'] }}</span>
            {% else %}
                <span>No user description provided...</span>
            {% endif %}
        </div>
        <div class="add_product_button">
            <a href="{{ url_for('add_product') }}">+ Add a Product
            </a>
        </div>
        <div class="updating_username">
            <form method="POST">
                <h5>Change current username</h5>
                <div class="usernamechanging">
                    <span></span><input type="text" name="username"  placeholder="New username" required>
                </div>
                <h5>Change current user description</h5>
                <div class="changinguserdescription">
                    <span></span><input type="text" name="description"  placeholder="Edit user description" required>
                </div>
                <button type="submit" class="profile_change">Update</button>
            </form>
        </div>
    <div class="userdate">
            <p>Joined: {{ user['date_joined'] }}</p>
    </div>
    <div class="products_liked_list">
        <h2>Products You've Liked</h2>
        <div class="liked_products_row">
            {% for product in liked_products %}
                <a href="{{ url_for('product_signed_in', product_id=product['product_id']) }}" class="liked-product">
                    <img src="{{ product['image_url'] }}" alt="{{ product['product_name'] }}">
                    <div>
                        <h3>{{ product['product_name'] }}</h3>
                        <p>Seller: {{ product['seller_username'] }}</p>
                        <p>${{ product['price_suggested'] }}</p>
                        <p>Likes: {{ product['likes'] }}</p>
                        <p>Liked: {{ product['date_liked'] }}</p>
                    </div>
                </a>
            {% else %}
                <p>You haven't liked any products yet.</p>
            {% endfor %}
        </div>
    </div>
    <div class="products_sold_list">
        <h2>Products You've Sold</h2>
        <div class="sold_products_row">
            {% for product in sold_products %}
                <a href="{{ url_for('product_signed_in', product_id=product['product_id']) }}" class="sold-product">
                    <img src="{{ product['image_url'] }}" alt="{{ product['product_name'] }}">
                    <div>
                        <h3>{{ product['product_name'] }}</h3>
                        <p>${{ product['price_suggested'] }}</p>
                        <p>Likes: {{ product['likes'] }}</p>
                        <p>Sold: {{ product['date_posted'] }}</p>
                    </div>
                </a>
            {% else %}
                <p>You haven't sold any products yet.</p>
            {% endfor %}
        </div>
    </div>
</div>

    
{% endblock %}